@curstom-selector :--typing-inputs
	input[type="text"], input[type="email"], input[type="password"], input[type="number"],
	input[type="url"], input[type="search"]

@curstom-selector :--all-horizontal-inputs
		input[type="text"], input[type="email"], input[type="password"], input[type="number"],
		input[type="url"], input[type="search"], input[type="date"], input[type="time"],
		input[type="file"], input[type="color"], input[type="range"]
