$accent-background-color: #ddd;
$accent-text-color: darken($accent-background-color, 15%);

$footer-background-color: transparent;
$footer-text-color: white;

// $tertiary-background-color: #ffffff;

$danger-background-color: lighten(red, 15%);
$danger-text-color: red;
$error-color: $danger-text-color;
$warning-background-color: orange;
$warning-text-color: #e67e00; // darken(darkorange, 5%);
$success-background-color: #2db92d; // darken(limegreen, 5%);
$success-text-color: green;
$highlight-background-color: #eee;
$disabled-text-color: gray;

$link-text-color: darken($accent-text-color, 10%);

$input-border-color: #ccc;
