:root {
	--container-max-width: 1200px;

	/* --icon-size: 1em; */

	--common-border-width: 1px;

	--common-border-radius: 0.45em;

	--input-border-radius: var(--common-border-radius);
	--input-border-width: var(--common-border-width);
	--input-vertical-padding: 0.2em;
	--input-padding: var(--input-vertical-padding) 0.55em;
	--input-line-height: 1.4em;

	--button-border-radius: var(--input-border-radius);
}
